*{
    padding:0;
    margin:0;
}

#top{
    height:70px;
    width:1400px;
    background-color:black;
    position: fixed;
    display:flex;
    
   
}
#btn{
    background-color: rgb(14, 233, 14);
    color:white;
    height:30px;
  
}